<div class="ui segment">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <h3 class="ui header">Participants List </h3>
    <button mat-stroked-button color="primary" style="margin-top: -12px" (click)="openDialog()">Open</button>
  </div>
  <div class="ui divider"></div>
  <div class="ui middle aligned animated list" *ngFor="let user of participants let i=index">
    <div class="item" *ngIf="i<5">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header">{{user.firstName}} {{user.lastName}}</div>
      </div>
    </div>
  </div>
</div>
