<div class="comment">
  <a class="avatar">
    <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
  </a>
  <div class="content">
    <button class="ui red button" style="float: right" (click)="delete()" *ngIf="comment.userId == userId && !loading">
      Delete
    </button>
    <button class="ui red loading button" style="float: right" (click)="delete()" *ngIf="loading">Delete
    </button>
    <a class="author">{{comment.userName}}</a>
    <div class="metadata">
      <span class="date">{{comment.date}}</span>
    </div>
    <div class="text">
      {{comment.text}}
    </div>
  </div>
</div>
