<div class="pusher">
  <div class="ui inverted vertical masthead aligned segment" style="background-color: #673AB7">

    <div class="ui text" fxLayout="row" fxLayoutAlign="space-evenly none">
      <div>
        <h1 class="ui inverted header">
          E-Learning Platform
        </h1>
        <h2>Welcome to our E-Learning platform</h2>
        <div class="ui huge primary button" (click)="onClick()">Home Page <i class="right arrow icon"></i></div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
