<h2 mat-dialog-title>Participants List</h2>
<mat-dialog-content class="mat-typography" style="width: 800px; height: 500px">
  <div class="ui middle aligned divided list" *ngFor="let item of fullList">
    <div class="item">
      <div class="right floated content">
        <div class="ui  button" (click)="onRemove(item.id)" *ngIf="deleteLoading.id != item.id">Remove from
          formation
        </div>
        <div class="ui loading button" *ngIf="deleteLoading.id == item.id && deleteLoading.loading">Remove from
          formation
        </div>
      </div>
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="ui large horizontal divided list">
          <div class="item">
            <div class="content">
              <div class="header">{{item.firstName}} {{item.lastName}}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="header">{{item.speciality}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
